body {
  & > header {
    @include grid-container;
    padding: {
      top: 40px;
      bottom: 40px;
    }

    div.container {
      border-bottom: 1px solid $border-color;
      padding-bottom: 20px;
      overflow: hidden;

      section.logo {
        @include columns(1);
      }

      nav#header {
        @include columns(8);
        margin-top: 20px;

        & > ul {
          li {
            float: left;
            margin-left: 60px;

            &:last-child {
              color: red;
            }

            a {
              color: $nav-color;
              text-transform: uppercase;
              text-decoration: none;
              font: {
                size: 1em;
              }

              &.current {
                font: {
                  weight: bold;
                }
              }
            }
          }
        }
      }

      form#global-search {
        @include columns(3);
        margin-top: 20px;
      }
    }
  }
}