body {
  & > header {
    @include grid-container;
    padding: {
      top: 40px;
      bottom: 40px;
    }

    div.container {
      border-bottom: 1px solid $border-color;
      padding-bottom: 20px;
      overflow: hidden;

      section.logo {
        @include columns(1);

        @include media("phone") {
          img {
            margin: {
              left: auto;
              right: auto;
            }
          }
        }

        @include media("tablet") {
          @include columns(12);

          img {
            margin: {
              left: auto;
              right: auto;
            }
          }
        }
      }

      nav#header {
        @include columns(8);
        margin-top: 20px;

        & > ul {
          overflow: hidden;

          li {
            float: left;
            margin-left: 60px;

            a {
              color: $nav-color;
              text-transform: uppercase;
              text-decoration: none;
              font: {
                size: 1em;
              }

              &.current {
                font: {
                  weight: bold;
                }
              }
            }

            @include media("phone") {
              display: block;
              float: none;
              padding: 20px;
              text-align: center;
              background: $light-grey;
              width: 100%;
              margin-left: 0;
              margin-bottom: 2px;
            }

            @include media("tablet") {
              width: 25%;
              display: block;
              margin-left: 0;
              text-align: center;
            }
          }
        }

        @include media("tablet") {
          @include columns(12);
        }
      }

      form#global-search {
        @include columns(3);
        margin-top: 20px;

        & > input[type='submit'] {
          @include media("phone") {
            display: none;
          }

          @include media("tablet") {
            display: none;
          }
        }

        & > input[type='text'] {
          border: 1px solid $border-color;
          padding: 8px;
          font: {
            size: 1rem;
          }

          @include media("phone") {
            display: block;
            width: 100%;
            margin: {
              left: auto;
              right: auto;
            }
          }

          @include media("tablet") {
            display: block;
            width: 50%;
            margin: {
              left: auto;
              right: auto;
            }
          }
        }

        @include media("tablet") {
          @include columns(12);
        }
      }
    }
  }
}