template(name='communityAndGroups')
  section#community-and-groups
    header
      h1 Community &amp; Groups
    
    section.hero
      div.hero-title
        h2 What are Working Groups about?
        p Groups are an amazing way to learn and connect with other people in Earth. Check groups out!
    
    section.call-to-action
      h2 Get involved in the community
      p Find, connect and collaborate with people and organizations around the topics and policy you care about.
      a.button Join ICANN
      p.help Already part of the ICANN community?
      p.help Create a profile to show how you participate.
    
    aside#search
      form
        fieldset
          legend Find groups and people
          input(type='text', placeholder='Search')
          input(type='submit', value='Search')
          a(href="#") Advanced Search
        fieldset.explore
          legend Explore:
          ul
            li
              input(type='checkbox', id='workingGroups', value='Working Groups', checked='checked')
              label(for='workingGroups') Working Groups
            li
              input(type='checkbox', id='people', value='People')
              label(for='People') People
        fieldset
          ul
            li
              input(type='checkbox', id='all', value='All', checked='checked')
              label(for='all') All
            li
              input(type='checkbox', id='government', value='Government')
              label(for='government') Government
            li
              input(type='checkbox', id='civilSociety', value='Civil Society')
              label(for='civilSociety') Civil Society
            li
              input(type='checkbox', id='dnsMarketPlace', value='DNS Market Place')
              label(for='dnsMarketPlace') DNS Market Place
            li
              input(type='checkbox', id='technology', value='Technology')
              label(for='technology') Technology
            li
              input(type='checkbox', id='developingWorld', value='Developing World')
              label(for='developingWorld') Developing World
    
    section#results
      div.filter
        p Seeing People related to All
      ul
        {{#each searchResult}}
          {{> searchItem}}
        {{/each}}
