template(name='footer')
  nav#footer
    ul
      li: h2 ICANN 101
      li: a(href='#') Welcome
      li: a(href='#') What does ICANN do?
      li: a(href='#') Effect on Internet
      li: a(href='#') How do I participate?
    ul  
      li: h2 Who We Are
      li: a(href='#') Board of Directors
      li: a(href='#') CEO
      li: a(href='#') Staff
      li: h2 Agreements
      li: a(href='#') ICANN Governance
      li: a(href='#') Document Disclosure
    ul
      li: h2 Accountability &amp; Transparency
      li: a(href='#') AOC Review
      li: a(href='#') Financials
      li: a(href='#') Annual Report
    ul
      li: h2 Follow Us
      li: a(href='#') Labs
      li: a(href='#') Blog
      li: a(href='#') Facebook
      li: a(href='#') Twitter
  
  section#legal
    small &copy; 2013 Internet Corporation for Names and Numbers
