template(name='header')
  div.container
    section.logo
      h3 ICANN Labs
    nav#header
      ul
        li 
          a(href='#') News
        li 
          a(href='#') Resources
        li 
          a(href='#') Policy
        li 
          a(href='#', class='current') Community &amp; Groups
    form#global-search
      input(type='text', placeholder='Search')
      input(type='submit', value='Search')
