// Base color

$black: #1A1A1A;

$light-grey: #F6F6F6;
$grey: #CCCCCC;
$dark-grey: #333333;

$blue: #3D93E0;
$red: #D42120;

$transparent-white: rgba(255, 255, 255, 0.75);

// Type
$header-color: $dark-grey;
$body-color: $dark-grey;
$link-color: $blue;
$filter-color: $red;
$nav-color: $dark-grey;

// UI
$component-background: $light-grey;
$button-background: $black; 
$border-color: $grey;
$footer-background: $light-grey;