// Lettuce Wrap – a mobile first grid

// Fixing the Box Model
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

// Responsive images
img {
  max-width: 100%;
  display: block;
}

// Base grid settings
$max-width: 71.25em;
$gutter: 0.625em;
$total-columns: 12;

// Responsive breakpoints
$desktop: 60em;
$tablet: 32em;
$phone: 32em;

// The Grid
@mixin grid-container() {
  max-width: $max-width;
  margin: {
    left: auto;
    right: auto;
  }
  clear: both; 
  display: block;
  overflow: hidden;
}

// Full viewport width rows
@mixin full-width() {
  min-width: 100%;
}

// Set the number of columns to a row
@mixin columns($columns) {
  width: 100%;
  padding: {
    left: 20px;
    right: 20px;
  }
  clear: both;
  float: left;

  @media only screen and (min-width: $desktop) {
    padding: {
      left: $gutter;
      right: $gutter;
    }
    padding: 0;
    width: percentage($columns / $total-columns);
    display: block;
    clear: none;
  }
}

// Push a set of columns across
@mixin push($push) {
  margin: 0;

  @media only screen and (max-width: $desktop) {
    margin-left: percentage($push / $total-columns);
  }
}

// A mixin to include on the last object in a row. This might be unnecessary. 
@mixin omega {
  clear: both;
}

// Media Queries
@mixin media($device) {
  @if $device == "phone" {
    @media only screen and (max-width: $phone) {
      @content;
    }
  }

  @if $device == "tablet" {
    @media only screen and (min-width: $tablet) and (max-width: $desktop) {
      @content;
    }
  }

  @if $device == "desktop" {
    @media only screen and (min-width: $desktop) {
      @content;
    }
  }
}