// Typography

$em: 16px;

$sans: 'Source Sans Pro', 'Helvetica Neue', arial, sans-serif;
$serif: times, serif;

body {
  font-family: $sans;
  color: #333;
  font-size: $em;
  line-height: 1.3rem;
}

h1 {
  font: {
    size: 1.875rem;
    weight: normal;
  }
  line-height: 2.375rem;
}

h2 {
  font: {
    size: 1.25em;
    weight: bold;
  }
}

h3 {
  font: {
    size: 1.2em;
    weight: normal;
  }
}

p {
  font: {
    weight: normal;
  }
}