// Typography

$em: 16px;

$sans: 'Source Sans Pro', 'Helvetica Neue', arial, sans-serif;
$serif: times, serif;

body {
  font-family: $sans;
  color: #333;
  font-size: $em;
  line-height: 1.3rem;
}

h1 {
  font: {
    size: 1.875rem;
    weight: normal;
  }
  line-height: 2.375rem;
}

h2 {
  font: {
    size: 1.25rem;
    weight: bold;
  }
  line-height: 1.4rem;
  padding-bottom: 10px;
}

h3 {
  font: {
    size: 1.2rem;
    weight: normal;
  }
}

p {
  font: {
    size: 1rem;
    weight: normal;
  }

  &.help {
    font: {
      size: 0.75rem;
    }
    line-height: 0.9rem;
  }
}

a {
  font: {
    size: 1rem;
  }
  text-decoration: none;
  color: $link-color;
}