section#community-and-groups {
  @include grid-container;

  & > header {
    @include columns(12);
    margin: {
      bottom: 20px;
    }
  }

  .call-to-action {
    @include columns(6);
    background: $light-grey;
    height: 250px;
    padding: 30px 20px 20px;

    & > h2, p, a {
      margin-left: 10px;
    }
  }

  .hero {
    @include columns(6);
    background: $light-grey;
    background: url('/images/banner.jpg') top left no-repeat;
    background-size: cover;
    height: 250px;
    position: relative;

    .hero-title {
      background: $transparent-white;
      padding: 20px;
      max-width: 100%;
      position: absolute;
      bottom: 20px;
      right: 20px;
      left: 20px;

      @include media("desktop") {
        max-width: 380px;
        right: 0;
        bottom: 20px;
        left: auto;
      }
    }

    @include media("tablet") {
      float: right;
    }

    @include media("desktop") {
      float: right;
    }
  }

  aside#search {
    @include columns(3);
    margin-top: 60px;

    & > form {
      a {
        font-size: 0.8rem;
        display: block;
      }

      fieldset {
        margin-bottom: 20px;

        & > input, a {
          @include media("desktop") {
            margin-left: 10px;
          }
        }

        & > input[type='text'] {
          border: 1px solid $border-color;
          padding: 8px;
          font: {
            size: 1rem;
          }

          @include media("phone") {
            display: block;
            width: 100%;
            margin: {
              left: auto;
              right: auto;
            }
          }

          @include media("tablet") {
            display: block;
            width: 100%;
            margin: {
              left: auto;
              right: auto;
            }
          }
        }

        & > input[type='submit'] {
          @include media("phone") {
            display: none;
          }

          @include media("tablet") {
            display: none;
          }
        }

        legend {
          font-size: 1rem;
          color: $black;
          margin-bottom: 10px;
        }

        ul {
          li {
            margin-bottom: 10px;

            input[type="checkbox"] {
              margin-right: 5px;
            }
          }
        }

        &.explore {
          border-bottom: 1px solid $border-color;
          padding-bottom: 10px;

          legend {
            font-weight: bold;
          }

          ul {

          }
        }
      }
    }
  }

  section#results {
    @include columns(9);
    @include nesting;

    div.filter {
      @include nested-columns(9, 9);
      margin-top: 60px;
      margin-bottom: 10px;

      @include media("phone") {
        margin-left: 20px;
      }

      @include media("tablet") {
        text-align: right;
      }

      @include media("desktop") {
        text-align: right;
      }
    }

    ul {

      li {
        @include nested-columns(3, 9);
        & > a.search-result {
          width: 100%;
          display: block;
          background: $component-background;
          text-align: center;
          padding: 40px 20px;
          color: $dark-grey;
          margin-bottom: 10px;

          img {
            margin: 0 auto 10px;
            border-radius: 40px;
          }

          h3 {
            color: $link-color;
            font: {
              weight: bold;
              size: 1.25rem;
            }
          }

          p {
            color: $black;
          }

          p.tags {
            font: {
              size: 0.75rem;
            }
            color: $dark-grey;
            margin-top: 40px;
            text-transform: uppercase;
          }
        }

        @include media("tablet") {
          margin-bottom: 10px;
          width: 50%;
        }

        @include media("desktop") {
          margin-bottom: 10px;
        }
      }
    }

    div.more {
      @include nested-columns(9, 9);
      margin-top: 20px;
      margin-bottom: 20px;
      padding: {
        top: 20px;
        bottom: 20px;
      }
      text-align: center;
      background: $component-background;
    }
  }
}